.require{color:red;}
.text-right{text-align:right;}
.text-center{text-align: center}
.entrty-tbl{font-size:14px;}
.w400{
    max-width:400px;
    width:100%;
}
.w200{
    max-width: 200px;
    width:100%;
}
.w315{
    max-width: 315px;
    width:100%;
}
.h200{height:200px;}