/* 会社情報 */
.s-navi-text{
	color: #333333;
	font-size: 13px;
	line-height: 15pt;
	letter-spacing: -0.01em;
}
.s-navi-text img{
	vertical-align: middle;
	border-style:none;
}

img {
	vertical-align: top;
	border-style:none;
}

#secret_table {
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
	width:540px;
}

#secret_table .secret_cell1{
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
	width:150px;
}

#secret_table .secret_cell2{
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
}

#secret_table .secret_cell3{
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
	width:100px;
}

#secret_table .secret_cell4{
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
	font-weight:bold;
}

td.title_p{
	text-align: left;
	vertical-align: middle;
	border-bottom: dotted 1px #4169e1;
	font-weight: bold;
	width:230px;
	height: 20px;
}