/* 会社情報 */
.s-navi-text{
	color: #333333;
	font-size: 13px;
	line-height: 15pt;
	letter-spacing: -0.01em;
}
.s-navi-text img{
	vertical-align: middle;
	border-style:none;
}

img {
	vertical-align: top;
	border-style:none;
}

#secret_table {
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
	width:540px;
}

#secret_table .secret_cell1{
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
	width:120px;
}

#secret_table .secret_cell1_pmark{
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
	width:140px;
}

#secret_table .secret_cell2{
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
}

#secret_table .secret_cell3{
	text-align: center;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
	width: 60px;
}

#secret_table .secret_cell4{
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
	font-weight:bold;
}

td.title_p{
	text-align: left;
	vertical-align: middle;
	border-bottom: dotted 1px #4169e1;
	font-weight: bold;
	width:230px;
	height: 20px;
}

/* 採用活動スケジュール */
.m_bar {
	width: 540px;
}
form {
	margin: 8px 0;
}
button {
	margin-left: 8px;
	margin-bottom: 10px;
}
#secret_table {
	width: 540px;
}
.schedule_thead > th {
	padding: 2px;
	width: auto;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #bcf;
	background-color: #e3e9ff;
	color: #20c;
	text-align: center;
}
.schedule_thead > th:first-child {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #bcf;
}
.schedule_thead > th:nth-child(2) {
	width: 155px;
}
.schedule_thead > th:last-child {
	width: 50px;
}
.schedule_tbody > td {
	padding: 2px 8px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.schedule_tbody > td:first-child {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	white-space: nowrap;        /* はみ出した文字を折り返さずに */
	text-overflow: ellipsis;    /* 省略する                     */
}
.schedule_tbody > td:last-child {
	border-bottom: 1px solid #ddd;
	text-align: center;
}

/* 社内広報 */
.m_title{
	background-color: #e4eae4;
    padding: 1em;
    position: relative;
    color: #000;
}
.m_title::after {
    content: "";
    border-color: #853e04 #fff #fff #78bfb9;
    border-style: solid;
    border-width: 0 0 24px 24px;
    bottom: 0;
    position: absolute;
    right: 0;
}

.m_title_mei{
	display:inline;
}

.m_day{
    float: right;
	display: inline;
	text-align: right;
    margin-right: 5%;
}
dd.m_mains {
	background: -webkit-repeating-linear-gradient(-45deg, #f5edfd, #f5edfd 5px, #fdfcff 5px, #fdfcff 10px);
    background: repeating-linear-gradient(-45deg, #f5edfd, #f5edfd 5px, #fdfcff 5px, #fdfcff 10px);
    color: #4a1086;
    margin: 0 0 0 0;
    padding: 2em;
}
div#pr_content{
	border: dashed 1px #b9b0b0;
	margin-bottom: 20px;
}

/* 2017-10-23 k-matsui */
/* 資格ピックアップページ */

.examTable{
	margin-bottom: 5px;
}

.examTable tr:first-child{
	cursor : pointer;
}

.examTable tr:first-child:hover{
	color:#48D;
}

.examTable tr:first-child:active{
	color:#06A;
}

.examImg {
	display:none;
}

.examImg img{
	width:640px;
}

.exam_head{
	margin-bottom: 10px;
}

