/* 事業内容 */

img {
	vertical-align: top;
	border-style:none;
}

.solutiom_table {
	width:540px;
	text-align: left;
	vertical-align: top;
	line-height : 15pt;
	letter-spacing: 0.1em;
}

.company_cell1 {
	color: #333333;
	width: 70px;
	background-color: #f8f8ff;
	vertical-align: top;
	margin: 2px;
	border-style: none solid solid none;
	border-width: 1px;
	border-color: #8e8e8e;
	text-align:left;
	line-height : 15pt;
	letter-spacing: 0.1em;
}

.company_cell2 {
	width: 410px;
	vertical-align: top;
	margin: 2px;
	border-style: none none solid none;
	border-width: 1px;
	border-color: #8e8e8e;
	text-align:left;
	line-height : 15pt;
	letter-spacing: 0.1em;
}

.company_cell1b {
	color: #333333;
	width: 70px;
	background-color: #f8f8ff;
	vertical-align: top;
	margin: 2px;
	border-style: none solid none none;
	border-width: 1px;
	border-color: #8e8e8e;
	text-align:left;
	line-height : 15pt;
	letter-spacing: 0.1em;
}

.company_cell3 {
	width: 490px;
	vertical-align: top;
	text-align:left;
	margin: 2px;
	line-height : 15pt;
	letter-spacing: 0.1em;
}

.company_cell3 > pre {
	width: 470px;
	vertical-align: top;
	text-align:left;
	margin: 2px;
	line-height : 15pt;
	letter-spacing: 0.1em;
	font-family: "ＭＳ ゴシック",sans-serif;
}

.company_cell4 {
	color: #333333;
	width: 490px;
	background-color: #f8f8ff;
	vertical-align: top;
	margin: 2px;
	border-style: none solid solid none;
	border-width: 1px;
	border-color: #8e8e8e;
	text-align:left;
	line-height : 15pt;
	letter-spacing: 0.1em;
}

.company_cell5 {
	width: 490px;
	vertical-align: top;
	margin: 2px;
	border-style: none none solid none;
	border-width: 1px;
	border-color: #8e8e8e;
	text-align:left;
	line-height : 15pt;
	letter-spacing: 0.1em;
}

.company_cell6 {
	width: 490px;
	vertical-align: bottom;
	text-align:left;
	margin: 2px;
	font-family: monospace;
	line-height : 15pt;
	letter-spacing: 0.1em;
}